<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practice6" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practice6"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".CertificateAddActivity"
            android:exported="true" />
        <activity
            android:name=".activities.my.MyTrainerEditCertificateActivity"
            android:exported="true" />
        <activity
            android:name=".activities.my.MyTrainerEditBasicActivity"
            android:exported="true" />
        <activity
            android:name=".activities.my.MyTrainerEditGymActivity"
            android:exported="true" />
        <activity
            android:name=".activities.my.MyTrainerEditActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".activities.FindAddressActivity"
            android:exported="true" />
        <activity
            android:name=".activities.my.GymCreateActivity"
            android:exported="true" />
        <activity
            android:name=".activities.my.GymSearchActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PasswordEditActivity"
            android:exported="true" />
        <activity
            android:name=".activities.my.MyTrainerInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activities.my.MyPageEditActivity"
            android:exported="true" />
        <activity
            android:name=".activities.JoinActivity"
            android:exported="true" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activities.IntroActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>